html {
  box-sizing: border-box;
}

body {
  background: #f9fbfd;
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.main {
  width: 65%;
  margin: 0 auto;
  max-width: 800px;
}

.hero h1 {
  font-family: 'Nunito';
  font-size: 2em;
}

.hero {
  padding-top: 1em;
  font-size: 1.2em;
}

.generator-window {
  padding-top: 300px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: white;
  padding: 1em;
  margin-top: 2em;
  box-shadow: 0px 0px 20px -10px rgb(177, 177, 177);
  border-radius: 7px;
}

.password-and-copy-btn {
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4em;
}

#copy-btn {
  padding-left: 20px;
  cursor: pointer;
  justify-self: flex-end;
}

#password {
  font-size: 1.7em;
  width: 88%;
  overflow-wrap: break-word;
  font-family: 'Courier Prime', monospace;
}

#discrete-slider {
  padding-right: 0.5em;
}

.options-container {
    margin-top: 2em;
    box-shadow: 0px 0px 20px -10px rgb(177, 177, 177);
    border-radius: 7px;
    background: white;
    justify-content: space-evenly;
    padding: 2em 1em;
  }
  .options-top h1 {
    margin: 0;
    padding-bottom: 0.5em;
  }

.options-top {
  border-bottom: 1px solid rgb(221, 221, 221);
  text-align: left;
  width: 80%;
  margin: 0 auto;
}

.options {
  display: flex;
}

button {
  font-family: inherit;
}

.length-slider-container {
  width: 50%;
  display: flex;
  padding: 2em;
  align-items: center;
}

#checkbox-group {
  width: 50%;
  padding: 2em;
}
#btn-outer {
  background: inherit;
  border: none;
}

.strength-indicator {
  display: inline-block;
  width: 400px;
  margin: 1px;
  height: 10px;
}

@media screen and (max-width: 600px) {
  .main {
    width: 95%;
  }
 
  .hero {
    padding-top: 0;
  }
  .hero h1 {
    font-size: 1.6em;
  }
  .options {
    flex-direction: column;
  }
  .options-top {
    margin: 0;
    padding-left: 1em;
  }
  .length-slider-container {
    padding: 1em 0 0 1em;
    width: 90%;
  }
  #checkbox-group {
    margin: 0;
    padding: 1em 0 0 1em;
    width: 100%;
  }
  #password {
    width: 80%;
  }
 
}